body, .middle {
    background: #181818;
}
nav, .project-right, .request, .clients, .design, .image-overlay, .support, #bars, .vid-con,
.form-1 button, .paragraph br, .header-bottom, #desktop-map  {
    display: none;
}
.paragraph-container {
    display: none;
}
header, main, footer, .button-sbmt, .button-calc, .project, .project-left, 
.p-text-s, .title-middle, .form-input, .after-middle, .repair, .card {
    width: 100%;
}
.restoration {
    padding-bottom: 266px;
}
.header-top {
    height: 57px;
}
.num, #room, .vid-con-mob, #btn-mob, .mob-ver, .map-container {
    display: block;
}
.paragraph-container-mob {
    display: block;
}
.mob-ver {
    width: 100%;
    display: block;
    margin: -250px auto 20px;
}
.mob-ver-img img {
    width: 90%;
    margin: 24px auto 0;
}
.main, .project, .project-left, .form-3, .address-info, .form-input-1, .form-3-top-input  {
    padding: 0;
}
.after-middle {
    margin: 0;
}
.main-info {
    background: url("../images/background-mobile.png");
    background-size: cover;
    background-position: center;
    height: 476px;
}
.title-big {
    font-size: 23px;
    line-height: 132.83%;
    width: 339px;
    margin: 85px auto 16px;
}
.p-text {
    font-size: 14px;
    width: 339px;
    font-size: 14px;
    line-height: 135.84%;
    margin: 0 auto;
}
.button-area .button:first-of-type {
    margin: 0 0 26px;
}
.mob-container, .button-area, .form-1, .mob-ver-img, .map-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.button-area {
    margin: 50px auto 0;
    width: 339px;
}
.title-middle {
    font-size: 22px;
    line-height: 138.6%;
    text-align: center;
    letter-spacing: -0.07em;
    margin: 36px auto 22px;
}
.p-text-s, #room {
    font-size: 11px;
    line-height: 158.48%;
    text-align: center;
    margin: 0 auto 36px;
}
.descr-container {
    margin: 0 auto 58px;
    grid-column-gap: 40px;
}
.subtitle-control {
    padding: 0;
}
.subtitle-color-1 {
    font-size: 14px;
    line-height: 138.6%;
}
#control-icon {
    margin: 0 auto 40px;
}
.vid-con-mob {
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    position: relative;
}
#play-btn-mob {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.paragraph {
    font-size: 11px;
    line-height: 169.8%;
}
.paragraph-container {
    display: flex;
    justify-content: center;
    margin: 0 40px 10px;
}
.restoration {
    background-color: #FFFFFF;
}
.form-1 {
    width: 100%;
    margin: 0 auto;
}
#form-1-container {
    margin-top: 51px;
}
.form-1 label {
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
}
.form-input {
    margin: 0 auto 20px;
    width: max-content;
}
.form-1 input::placeholder {
    font-size: 14px;
    line-height: 138.72%;
}
.checkbox-text, .form-1 input::placeholder, .paragraph {
    color: #FFFFFF;
}
.form-input:first-of-type, .form-input:last-of-type {
    width: 90%;
}
.after-middle {
    margin: 0 auto 5px;
}
.input {
    color: #FFFFFF;
}
.input-f1 {
    border-bottom: 1px solid #FFFFFF;
}
.checkbox-container {
    margin-top: 26px;
}
.btn-sbmt {
    position: relative;
    z-index: 1;
    width: fit-content;
    min-width: 340px;
    margin: 62px auto -30px;
}
.subtitle-repair {
    margin-top: 0;
    padding-top: 83px;
}
.img-overlay {
    margin-top: -169px;
    margin-left: 0;
    margin-bottom: 79px;
    width: 79%;
}
.repair img {
    width: 100%;
}
.mob-ver {
    text-align: center;
}
.form-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-3-container {
    margin: 0;
    margin-top: 40px;
    position: static;
}
.address {
    background: none;
}
.form-3-top-input {
    flex-direction: column;
}
.form-3 .btn-sbmt {
    margin: 0;
}
.form-3-top-input div:first-of-type {
    padding: 52px 0 43px;
}
.form-3-top-input div:last-of-type {
    padding: 0 0 43px;
}
.input-f2 {
    border-bottom: 1px solid #FFFFFF;;
}
.checkbox-f3 {
    padding: 20px 0 67px;
}
.map-container img {
    margin: 100px auto 40px;
}
.links a img {
    margin-top: 20px;
    min-width: 39px;
    width: 100%;
}